extends layout

block content
  div(id='header' class='header')
    h1 Admin Tool
    button(id='btnNewWebsite', onclick='createWebsite();') New Website
    br
    br
    h2 Websites:
  div(id='content', class='content')
  script.
    function createWebsite() {
      bootbox.dialog({
        title: 'New Website',
        message:
              '<label for="Route">Website Route</label> <br>' +
              '<label>Forward to this route on the server, e.g.: "localhost:3000/example".</label>' +
              '<input id="route" name="route" type="text" placeholder="example" class="form-control input-md">' +
              '<br><br>' +
              '<label for="media">Media Location</label> ' +
              '<label>Must be accessible to the public, and have at minimum an index.html.</label>' +
              '<input id="media" name="media" type="text" placeholder="https://storage.googleapis.com/example_website" class="form-control input-md">',
          buttons: {
          success: {
            label: 'Save',
            className: 'btn-success',
            callback: function() {
              var route = $('#route').val();
              var media = $('#media').val();
              if(route == null || media == null)
              {
                bootbox.alert("Invalid data in form, make sure to provide website route and media location!");
              }
              else
              {
                $.post("/websites", {"route": route, "media": media}, function() {
                  bootbox.alert('New website has been created: "' + route + '". Your media storage is at: "' + media + '".');
                });
              }
            }
          }
        }
      });
    }