[Unit]
Description=Webserver built for hosting multiple websites.

[Service]
ExecStart=/opt/websites/app.js
Restart=always
User=nobody
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/opt/websites

[Install]
WantedBy=multi-user.target
